<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{simpleName}} {{#isUnit}}Unit{{/isUnit}}{{^isUnit}}Service{{/isUnit}} | AnnDocuGen</title>
    <link rel="stylesheet" href="thirdparty/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>{{#isUnit}}Unit{{/isUnit}}{{^isUnit}}Service{{/isUnit}} <code>{{simpleName}}</code></h1>

<p class="lead">
    <b>{{fullName}}</b>
    {{#documentedAnnotations.exist}}<code>{{documentedAnnotations}}</code>{{/documentedAnnotations.exist}}
</p>

{{#javadoc.exists}}
    <div class="well well-sm">{{{javadoc}}}</div>
{{/javadoc.exists}}

<h2>Properties</h2>

{{^properties}}
    <p><em>None</em></p>
{{/properties}}
{{#properties}}
    <p class="lead">
        <strong>{{name}}</strong>: <code>{{type.simpleName}}</code>
        {{#initializer.exists}}= <code>{{initializer}}</code>{{/initializer.exists}}
        {{#mandatory}}<span class="label label-danger">Mandatory</span>{{/mandatory}}
        {{#isInherited}}<span class="label label-default">Inherited</span>{{/isInherited}}
    </p>
    {{#javadoc.exists}}
        <div class="well well-sm">{{{javadoc}}}</div>
    {{/javadoc.exists}}
{{/properties}}

<h2>Output Properties</h2>

{{^outputProperties}}
    <p><em>None</em></p>
{{/outputProperties}}
{{#outputProperties}}
    <p class="lead">
        <strong>{{name}}</strong>: <code>{{type.simpleName}}</code>
        {{#isInherited}}<span class="label label-default">Inherited</span>{{/isInherited}}
    </p>
    {{#javadoc.exists}}
        <div class="well well-sm">{{{javadoc}}}</div>
    {{/javadoc.exists}}
{{/outputProperties}}

<h2>Dependencies</h2>

{{^dependencies}}
    <p><em>None</em></p>
{{/dependencies}}
{{#dependencies}}
    <p class="lead">
        <strong>{{type.simpleName}}</strong>
        {{#documentedAnnotations.exist}}<code>{{documentedAnnotations}}</code>{{/documentedAnnotations.exist}}
        {{#isDocumentedClass}}<a href="{{type}}.html" class="label label-primary">Documented</a>{{/isDocumentedClass}}
        {{#isInherited}}<span class="label label-default">Inherited</span>{{/isInherited}}
    </p>
    {{#javadoc.exists}}
        <div class="well well-sm">{{{javadoc}}}</div>
    {{/javadoc.exists}}
{{/dependencies}}

{{> footer}}

</body>
</html>