<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}} | AnnDocuGen</title>
    <link rel="stylesheet" href="thirdparty/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script src="thirdparty/jquery.js" defer></script>
    <script src="thirdparty/typeahead.js" defer></script>
    <script src="index-search.js" defer></script>
</head>
<body>
<h1>{{title}}</h1>

<input id="search" class="typeahead" placeholder="Search..." autocomplete="off" spellcheck="false" disabled>

<h2>Units</h2>

{{^units}}
    <p><em>None</em></p>
{{/units}}

<table class="table table-striped table-condensed table-hover index-table">
{{#units}}
    <tr data-filtered>
        <td><a href="{{fullName}}.html">{{simpleName}}</a></td>
        <td>{{{javadoc.firstSentence}}}</td>
    </tr>
{{/units}}
</table>

<h2>Services</h2>

{{^services}}
    <p><em>None</em></p>
{{/services}}

<table class="table table-striped table-condensed table-hover index-table">
    {{#services}}
    <tr data-filtered>
        <td><a href="{{fullName}}.html">{{simpleName}}</a></td>
        <td>{{{javadoc.firstSentence}}}</td>
    </tr>
    {{/services}}
</table>

{{> footer}}

</body>
</html>